*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 21, 52, .9);
}

.container{
    max-width: 1100px;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(221, 220, 220);
    padding: 30px;
    border: 3px solid rgb(0, 225, 100);
    border-radius: 10px;
}

/* Header */
header{
    text-align: center;
}

.logo img{
    width: 300px;
    padding: 20px 0;
}

.search input,
.search button{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgb(0, 225, 100);
    margin: 0 10px;
    background-color: #fff;
    color: rgb(0, 21, 52);
}

/* Main */
main{
    margin-top: 80px;
}

.box-list{
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.list{
    list-style: none;
}

.list li{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
}

.list li i{
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}

.list li .fa-thumbs-up:hover{
    color: rgb(0, 192, 86);
}
.list li .fa-times:hover{
    color: red;
}
